<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Bartoszgorski_Conditionalagreements>
            <version>1.0.3</version>
        </Bartoszgorski_Conditionalagreements>
    </modules>
    <global>
        <blocks>
            <checkout>
                <rewrite>
                    <agreements>Bartoszgorski_Conditionalagreements_Block_Agreements</agreements>
                </rewrite>
            </checkout>
        </blocks>
        <helpers>
            <conditionalagreements>
                <class>Bartoszgorski_Conditionalagreements_Helper</class>
            </conditionalagreements>
            <checkout>
                <rewrite>
                    <data>Bartoszgorski_Conditionalagreements_Helper_Data</data>
                </rewrite>
            </checkout>
        </helpers>
        <models>
            <conditionalagreements>
                <class>Bartoszgorski_Conditionalagreements_Model</class>
            </conditionalagreements>
        </models>
        <resources>
            <conditionalagreements_setup>
                <setup>
                    <module>Bartoszgorski_Conditionalagreements</module>
                    <class>Bartoszgorski_Conditionalagreements_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
            </conditionalagreements_setup>
            <conditionalagreements_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </conditionalagreements_write>
            <conditionalagreements_read>
                <connection>
                    <use>default_read</use>
                </connection>
            </conditionalagreements_read>
        </resources>
    </global>
</config>